/****** Object:  StoredProcedure [dbo].[up_GetMonthlyReport]    Script Date: 29/09/2016 3:48:42 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[up_GetMonthlyReport]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[up_GetMonthlyReport]
GO
/****** Object:  StoredProcedure [dbo].[TyreReport]    Script Date: 29/09/2016 3:48:42 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TyreReport]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[TyreReport]
GO
/****** Object:  StoredProcedure [dbo].[procSupplierWiseReport]    Script Date: 29/09/2016 3:48:42 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[procSupplierWiseReport]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[procSupplierWiseReport]
GO
/****** Object:  StoredProcedure [dbo].[procSalary]    Script Date: 29/09/2016 3:48:42 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[procSalary]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[procSalary]
GO
/****** Object:  StoredProcedure [dbo].[procGetProfitReport]    Script Date: 29/09/2016 3:48:42 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[procGetProfitReport]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[procGetProfitReport]
GO
/****** Object:  StoredProcedure [dbo].[procGetExpenseTypeReport]    Script Date: 29/09/2016 3:48:42 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[procGetExpenseTypeReport]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[procGetExpenseTypeReport]
GO
/****** Object:  StoredProcedure [dbo].[procGetDriverReport]    Script Date: 29/09/2016 3:48:42 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[procGetDriverReport]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[procGetDriverReport]
GO
/****** Object:  StoredProcedure [dbo].[procCashOutReport]    Script Date: 29/09/2016 3:48:42 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[procCashOutReport]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[procCashOutReport]
GO
/****** Object:  StoredProcedure [dbo].[OilServiceAlert]    Script Date: 29/09/2016 3:48:42 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[OilServiceAlert]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[OilServiceAlert]
GO
/****** Object:  StoredProcedure [dbo].[OilReportNew]    Script Date: 29/09/2016 3:48:42 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[OilReportNew]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[OilReportNew]
GO
/****** Object:  StoredProcedure [dbo].[OilReport]    Script Date: 29/09/2016 3:48:42 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[OilReport]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[OilReport]
GO
/****** Object:  StoredProcedure [dbo].[Get_SUpplierWiseReport]    Script Date: 29/09/2016 3:48:42 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Get_SUpplierWiseReport]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Get_SUpplierWiseReport]
GO
/****** Object:  StoredProcedure [dbo].[ClutchReport]    Script Date: 29/09/2016 3:48:42 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ClutchReport]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[ClutchReport]
GO
/****** Object:  StoredProcedure [dbo].[BreakReport]    Script Date: 29/09/2016 3:48:42 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BreakReport]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[BreakReport]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ExpenseTypeMaster_ExpenseTypeMaster]') AND parent_object_id = OBJECT_ID(N'[dbo].[ExpenseTypeMaster]'))
ALTER TABLE [dbo].[ExpenseTypeMaster] DROP CONSTRAINT [FK_ExpenseTypeMaster_ExpenseTypeMaster]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ExpenseMaster_Supplier]') AND parent_object_id = OBJECT_ID(N'[dbo].[ExpenseMaster]'))
ALTER TABLE [dbo].[ExpenseMaster] DROP CONSTRAINT [FK_ExpenseMaster_Supplier]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CashOut_Supplier]') AND parent_object_id = OBJECT_ID(N'[dbo].[CashOut]'))
ALTER TABLE [dbo].[CashOut] DROP CONSTRAINT [FK_CashOut_Supplier]
GO
/****** Object:  Index [IX_ScheduleMaster]    Script Date: 29/09/2016 3:48:42 PM ******/
IF  EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[ScheduleMaster]') AND name = N'IX_ScheduleMaster')
ALTER TABLE [dbo].[ScheduleMaster] DROP CONSTRAINT [IX_ScheduleMaster]
GO
/****** Object:  Index [IX_EmployeeMaster]    Script Date: 29/09/2016 3:48:42 PM ******/
IF  EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[EmployeeMaster]') AND name = N'IX_EmployeeMaster')
ALTER TABLE [dbo].[EmployeeMaster] DROP CONSTRAINT [IX_EmployeeMaster]
GO
/****** Object:  Index [IX_CollectionMaster]    Script Date: 29/09/2016 3:48:42 PM ******/
IF  EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[CollectionMaster]') AND name = N'IX_CollectionMaster')
DROP INDEX [IX_CollectionMaster] ON [dbo].[CollectionMaster]
GO
/****** Object:  Index [IX_BusMaster]    Script Date: 29/09/2016 3:48:42 PM ******/
IF  EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[BusMaster]') AND name = N'IX_BusMaster')
ALTER TABLE [dbo].[BusMaster] DROP CONSTRAINT [IX_BusMaster]
GO
/****** Object:  Table [dbo].[WagesLimit]    Script Date: 29/09/2016 3:48:42 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[WagesLimit]') AND type in (N'U'))
DROP TABLE [dbo].[WagesLimit]
GO
/****** Object:  Table [dbo].[TyerData]    Script Date: 29/09/2016 3:48:42 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TyerData]') AND type in (N'U'))
DROP TABLE [dbo].[TyerData]
GO
/****** Object:  Table [dbo].[Supplier]    Script Date: 29/09/2016 3:48:42 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Supplier]') AND type in (N'U'))
DROP TABLE [dbo].[Supplier]
GO
/****** Object:  Table [dbo].[ScheduleType]    Script Date: 29/09/2016 3:48:42 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ScheduleType]') AND type in (N'U'))
DROP TABLE [dbo].[ScheduleType]
GO
/****** Object:  Table [dbo].[ScheduleMaster]    Script Date: 29/09/2016 3:48:42 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ScheduleMaster]') AND type in (N'U'))
DROP TABLE [dbo].[ScheduleMaster]
GO
/****** Object:  Table [dbo].[Salary]    Script Date: 29/09/2016 3:48:42 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Salary]') AND type in (N'U'))
DROP TABLE [dbo].[Salary]
GO
/****** Object:  Table [dbo].[OilService]    Script Date: 29/09/2016 3:48:42 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[OilService]') AND type in (N'U'))
DROP TABLE [dbo].[OilService]
GO
/****** Object:  Table [dbo].[MonthlyReport]    Script Date: 29/09/2016 3:48:42 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MonthlyReport]') AND type in (N'U'))
DROP TABLE [dbo].[MonthlyReport]
GO
/****** Object:  Table [dbo].[MonthlyExpenseMaster]    Script Date: 29/09/2016 3:48:42 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MonthlyExpenseMaster]') AND type in (N'U'))
DROP TABLE [dbo].[MonthlyExpenseMaster]
GO
/****** Object:  Table [dbo].[MileageLimit]    Script Date: 29/09/2016 3:48:42 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MileageLimit]') AND type in (N'U'))
DROP TABLE [dbo].[MileageLimit]
GO
/****** Object:  Table [dbo].[LoginMaster]    Script Date: 29/09/2016 3:48:42 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LoginMaster]') AND type in (N'U'))
DROP TABLE [dbo].[LoginMaster]
GO
/****** Object:  Table [dbo].[ExpenseTypeMaster]    Script Date: 29/09/2016 3:48:42 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ExpenseTypeMaster]') AND type in (N'U'))
DROP TABLE [dbo].[ExpenseTypeMaster]
GO
/****** Object:  Table [dbo].[ExpenseMaster]    Script Date: 29/09/2016 3:48:42 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ExpenseMaster]') AND type in (N'U'))
DROP TABLE [dbo].[ExpenseMaster]
GO
/****** Object:  Table [dbo].[EmployeeMaster]    Script Date: 29/09/2016 3:48:42 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EmployeeMaster]') AND type in (N'U'))
DROP TABLE [dbo].[EmployeeMaster]
GO
/****** Object:  Table [dbo].[configFile]    Script Date: 29/09/2016 3:48:42 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[configFile]') AND type in (N'U'))
DROP TABLE [dbo].[configFile]
GO
/****** Object:  Table [dbo].[CompanyName]    Script Date: 29/09/2016 3:48:42 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CompanyName]') AND type in (N'U'))
DROP TABLE [dbo].[CompanyName]
GO
/****** Object:  Table [dbo].[CollectionMaster]    Script Date: 29/09/2016 3:48:42 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CollectionMaster]') AND type in (N'U'))
DROP TABLE [dbo].[CollectionMaster]
GO
/****** Object:  Table [dbo].[ClutchData]    Script Date: 29/09/2016 3:48:42 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ClutchData]') AND type in (N'U'))
DROP TABLE [dbo].[ClutchData]
GO
/****** Object:  Table [dbo].[CashOut]    Script Date: 29/09/2016 3:48:42 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CashOut]') AND type in (N'U'))
DROP TABLE [dbo].[CashOut]
GO
/****** Object:  Table [dbo].[BusMaster]    Script Date: 29/09/2016 3:48:42 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BusMaster]') AND type in (N'U'))
DROP TABLE [dbo].[BusMaster]
GO
/****** Object:  Table [dbo].[BreakData]    Script Date: 29/09/2016 3:48:42 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BreakData]') AND type in (N'U'))
DROP TABLE [dbo].[BreakData]
GO
/****** Object:  Database [TransportSMS]    Script Date: 29/09/2016 3:48:42 PM ******/
IF  EXISTS (SELECT name FROM sys.databases WHERE name = N'TransportSMS')
DROP DATABASE [TransportSMS]
GO
/****** Object:  Database [TransportSMS]    Script Date: 29/09/2016 3:48:42 PM ******/
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'TransportSMS')
BEGIN
CREATE DATABASE [TransportSMS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TransportSMS', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.NAVEEN\MSSQL\DATA\TransportSMS.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TransportSMS_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.NAVEEN\MSSQL\DATA\TransportSMS_log.ldf' , SIZE = 1088KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
END

GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TransportSMS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
/****** Object:  Table [dbo].[BreakData]    Script Date: 29/09/2016 3:48:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BreakData]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[BreakData](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[BusId] [nvarchar](50) NULL,
	[Date] [datetime] NULL,
	[Km] [bigint] NULL,
	[Manufacturer] [nvarchar](50) NULL,
	[Amount] [nvarchar](50) NULL,
	[Remark] [nvarchar](50) NULL
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[BusMaster]    Script Date: 29/09/2016 3:48:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BusMaster]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[BusMaster](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[RegNo] [nvarchar](50) NOT NULL,
	[Owner] [nvarchar](100) NULL,
	[EnginNo] [nvarchar](50) NULL,
	[ChassisNo] [nvarchar](50) NULL,
	[DOP] [nvarchar](50) NULL,
	[CompanyId] [bigint] NULL
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[CashOut]    Script Date: 29/09/2016 3:48:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CashOut]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[CashOut](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[SupplierId] [bigint] NOT NULL,
	[Date] [datetime] NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[Cash] [decimal](18, 2) NOT NULL,
	[Cheque] [decimal](18, 2) NOT NULL,
	[ChequeDate] [datetime] NOT NULL,
	[ChequeDetails] [nvarchar](50) NOT NULL,
	[DD] [decimal](18, 2) NOT NULL,
	[DDdate] [datetime] NOT NULL,
	[DDdetails] [nvarchar](50) NOT NULL,
	[Transfer] [decimal](18, 2) NOT NULL,
	[TransferDate] [datetime] NOT NULL,
	[TransferDetails] [nvarchar](50) NOT NULL,
	[Remark] [nvarchar](50) NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [bigint] NOT NULL,
	[ModifiedDate] [datetime] NOT NULL
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[ClutchData]    Script Date: 29/09/2016 3:48:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ClutchData]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ClutchData](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[BusId] [nvarchar](50) NULL,
	[Date] [datetime] NULL,
	[Km] [bigint] NULL,
	[Manufacturer] [nvarchar](50) NULL,
	[Amount] [nvarchar](50) NULL,
	[Remark] [nvarchar](50) NULL
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[CollectionMaster]    Script Date: 29/09/2016 3:48:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CollectionMaster]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[CollectionMaster](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NULL,
	[Driver1] [nvarchar](50) NULL,
	[Conductor1] [nvarchar](50) NULL,
	[BusName] [nvarchar](50) NOT NULL,
	[Trip] [bigint] NULL,
	[Collection] [nvarchar](50) NULL,
	[DLit] [nvarchar](50) NULL,
	[DPrice] [nvarchar](50) NULL,
	[DAmount] [nvarchar](50) NULL,
	[StartKm] [nvarchar](50) NULL,
	[EndKm] [nvarchar](50) NULL,
	[Bata] [nvarchar](50) NULL,
	[Wages] [nvarchar](50) NULL,
	[Cleaner] [nvarchar](50) NULL,
	[Stand] [nvarchar](50) NULL,
	[Gtc] [nvarchar](50) NULL,
	[Pooja] [nvarchar](50) NULL,
	[Extra] [nvarchar](50) NULL,
	[Greese] [nvarchar](50) NULL,
	[Sparse] [nvarchar](50) NULL,
	[Expenses] [nvarchar](50) NULL,
	[Total] [decimal](18, 2) NULL,
	[netTotal] [nvarchar](50) NULL,
	[DWages] [nvarchar](50) NULL,
	[DBata] [nvarchar](50) NULL,
	[CWages] [nvarchar](50) NULL,
	[CBata] [nvarchar](50) NULL,
	[Driver2] [nvarchar](50) NULL,
	[Conductor2] [nvarchar](50) NULL,
	[EveningCollection] [decimal](18, 2) NULL,
	[CompanyName] [nvarchar](50) NULL,
	[Mileage] [nvarchar](50) NULL
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[CompanyName]    Script Date: 29/09/2016 3:48:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CompanyName]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[CompanyName](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[CompanyName] [nvarchar](50) NOT NULL,
	[ShortName] [nvarchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[configFile]    Script Date: 29/09/2016 3:48:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[configFile]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[configFile](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[keyName] [nvarchar](100) NULL,
	[KeyValue] [nvarchar](100) NULL
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[EmployeeMaster]    Script Date: 29/09/2016 3:48:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EmployeeMaster]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[EmployeeMaster](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](50) NULL,
	[City] [nvarchar](50) NULL,
	[Mobile] [nvarchar](50) NULL,
	[Age] [nvarchar](50) NULL,
	[DlNo] [nvarchar](50) NULL,
	[Department] [nvarchar](50) NULL,
	[LImage] [image] NULL,
	[CompanyName] [nvarchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[ExpenseMaster]    Script Date: 29/09/2016 3:48:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ExpenseMaster]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ExpenseMaster](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ExpenseTypeId] [bigint] NOT NULL,
	[SupplierId] [bigint] NOT NULL,
	[CompanyNameId] [bigint] NULL,
	[BusId] [bigint] NOT NULL,
	[Date] [datetime] NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[Cash] [decimal](18, 2) NOT NULL,
	[Credit] [decimal](18, 2) NOT NULL,
	[Cheque] [decimal](18, 2) NOT NULL,
	[ChequeDate] [datetime] NOT NULL,
	[ChequeDetails] [nvarchar](100) NULL,
	[DemandDraft] [decimal](18, 2) NOT NULL,
	[DDDate] [datetime] NOT NULL,
	[DDDetails] [nvarchar](100) NULL,
	[Transfer] [decimal](18, 2) NOT NULL,
	[TransferDate] [datetime] NOT NULL,
	[TransferDetails] [nvarchar](100) NULL,
	[Remark] [nvarchar](300) NULL,
	[CreatedBy] [bigint] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [bigint] NULL,
	[ModifiedDate] [datetime] NULL
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[ExpenseTypeMaster]    Script Date: 29/09/2016 3:48:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ExpenseTypeMaster]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ExpenseTypeMaster](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ExpenseType] [nvarchar](50) NULL,
 CONSTRAINT [PK_ExpenseTypeMaster] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[LoginMaster]    Script Date: 29/09/2016 3:48:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LoginMaster]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[LoginMaster](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[UserRole] [nvarchar](50) NULL
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[MileageLimit]    Script Date: 29/09/2016 3:48:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MileageLimit]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[MileageLimit](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[BusId] [bigint] NOT NULL,
	[MileageLower] [decimal](18, 2) NOT NULL,
	[MileageUpper] [decimal](18, 2) NOT NULL,
	[Bonus] [decimal](18, 2) NOT NULL,
	[Department] [nvarchar](50) NOT NULL
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[MonthlyExpenseMaster]    Script Date: 29/09/2016 3:48:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MonthlyExpenseMaster]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[MonthlyExpenseMaster](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NULL,
	[BusName] [bigint] NULL,
	[ExpenseType] [bigint] NULL,
	[Amount] [nvarchar](50) NULL,
	[Remark] [nvarchar](50) NULL,
	[Tyerno] [nvarchar](50) NULL,
	[CompanyName] [nvarchar](50) NULL
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[MonthlyReport]    Script Date: 29/09/2016 3:48:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MonthlyReport]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[MonthlyReport](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BusName] [nvarchar](50) NULL,
	[Collection] [decimal](18, 2) NULL,
	[DAmount] [nchar](10) NULL,
	[Expenses] [decimal](18, 2) NULL,
	[BankDue] [decimal](18, 2) NULL,
	[TollFee] [decimal](18, 2) NULL,
	[WorkShopExp] [decimal](18, 2) NULL,
	[OtherExp] [decimal](18, 2) NULL,
	[TyreExp] [decimal](18, 2) NULL,
	[Audio/CoachExp] [decimal](18, 2) NULL
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[OilService]    Script Date: 29/09/2016 3:48:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[OilService]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[OilService](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[BusId] [nvarchar](50) NULL,
	[Km] [bigint] NULL,
	[Date] [datetime] NULL,
	[TypeofOil] [nvarchar](50) NULL,
	[Manufacturer] [nvarchar](50) NULL,
	[OilLiters] [nvarchar](50) NULL,
	[Amount] [nchar](10) NULL,
	[AlertKm] [bigint] NULL,
	[Remark] [nvarchar](50) NULL
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Salary]    Script Date: 29/09/2016 3:48:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Salary]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Salary](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Department] [nvarchar](50) NOT NULL,
	[EmployeeId] [bigint] NOT NULL,
	[SalaryDate] [date] NOT NULL,
	[Salary] [decimal](18, 2) NOT NULL,
	[SalaryValidity] [date] NULL,
	[CreatedBy] [bigint] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [bigint] NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
	[BusId] [bigint] NULL
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[ScheduleMaster]    Script Date: 29/09/2016 3:48:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ScheduleMaster]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ScheduleMaster](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BusMaster_ID] [int] NOT NULL,
	[Type_ID] [int] NOT NULL,
	[Day] [int] NULL,
	[Month] [int] NULL,
	[Year] [int] NULL,
	[Recurring] [int] NULL,
	[ReminderDay] [int] NULL,
	[OldDate] [datetime] NOT NULL,
	[LastDate] [datetime] NOT NULL,
	[ReminderDate] [datetime] NOT NULL,
	[Format] [nvarchar](50) NOT NULL
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[ScheduleType]    Script Date: 29/09/2016 3:48:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ScheduleType]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ScheduleType](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ScheduleType] [nvarchar](50) NOT NULL,
	[Color] [nvarchar](50) NULL,
 CONSTRAINT [PK_ScheduleType] PRIMARY KEY CLUSTERED 
(
	[ScheduleType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Supplier]    Script Date: 29/09/2016 3:48:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Supplier]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Supplier](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
	[ShortName] [nvarchar](10) NOT NULL,
	[OpeningBalance] [decimal](18, 2) NOT NULL,
	[Address] [nvarchar](50) NOT NULL,
	[Mobile] [nvarchar](50) NOT NULL,
	[LandLine] [nvarchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [bigint] NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Supplier] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[TyerData]    Script Date: 29/09/2016 3:48:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TyerData]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TyerData](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NULL,
	[Km] [bigint] NULL,
	[BusId] [bigint] NULL,
	[Tyresno] [nvarchar](50) NULL,
	[Manu] [nvarchar](50) NULL,
	[Amount] [nvarchar](50) NULL,
	[TyreNo] [nvarchar](50) NULL,
	[Condition] [nvarchar](50) NULL,
	[Remark] [nvarchar](500) NULL
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[WagesLimit]    Script Date: 29/09/2016 3:48:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[WagesLimit]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[WagesLimit](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[BusId] [nvarchar](50) NOT NULL,
	[LowerLimit] [decimal](18, 2) NOT NULL,
	[UpperLimit] [decimal](18, 2) NOT NULL,
	[Wages] [decimal](18, 2) NOT NULL,
	[Department] [nvarchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[BusMaster] ON 

INSERT [dbo].[BusMaster] ([Id], [Name], [RegNo], [Owner], [EnginNo], [ChassisNo], [DOP], [CompanyId]) VALUES (1, N'BusC1', N'TN 36 98745', N'Kavi', N'32569852', N'10', N'29/09/2016', 1)
INSERT [dbo].[BusMaster] ([Id], [Name], [RegNo], [Owner], [EnginNo], [ChassisNo], [DOP], [CompanyId]) VALUES (2, N'Bus1C1', N'TN 36 5656', N'Raj', N'201368', N'123', N'29/09/2016', 1)
INSERT [dbo].[BusMaster] ([Id], [Name], [RegNo], [Owner], [EnginNo], [ChassisNo], [DOP], [CompanyId]) VALUES (3, N'KPN', N'TN 36 W8745', N'Adm', N'1235321', N'256255', N'29/09/2016', 2)
SET IDENTITY_INSERT [dbo].[BusMaster] OFF
SET IDENTITY_INSERT [dbo].[CollectionMaster] ON 

SET IDENTITY_INSERT [dbo].[CollectionMaster] OFF
SET IDENTITY_INSERT [dbo].[CompanyName] ON 

INSERT [dbo].[CompanyName] ([Id], [CompanyName], [ShortName], [IsActive]) VALUES (1, N'Company1', N'C1', 1)
INSERT [dbo].[CompanyName] ([Id], [CompanyName], [ShortName], [IsActive]) VALUES (2, N'Company2', N'C2', 1)
INSERT [dbo].[CompanyName] ([Id], [CompanyName], [ShortName], [IsActive]) VALUES (3, N'Company3', N'C3', 1)
SET IDENTITY_INSERT [dbo].[CompanyName] OFF
SET IDENTITY_INSERT [dbo].[EmployeeMaster] ON 

SET IDENTITY_INSERT [dbo].[EmployeeMaster] OFF
SET IDENTITY_INSERT [dbo].[ExpenseTypeMaster] ON 

INSERT [dbo].[ExpenseTypeMaster] ([Id], [ExpenseType]) VALUES (1, N'Tea')
INSERT [dbo].[ExpenseTypeMaster] ([Id], [ExpenseType]) VALUES (2, N'Coffee')
SET IDENTITY_INSERT [dbo].[ExpenseTypeMaster] OFF
SET IDENTITY_INSERT [dbo].[LoginMaster] ON 

INSERT [dbo].[LoginMaster] ([Id], [UserName], [Password], [UserRole]) VALUES (1, N'admin', N'admin', N'admin')
SET IDENTITY_INSERT [dbo].[LoginMaster] OFF
SET IDENTITY_INSERT [dbo].[MonthlyExpenseMaster] ON 

INSERT [dbo].[MonthlyExpenseMaster] ([Id], [Date], [BusName], [ExpenseType], [Amount], [Remark], [Tyerno], [CompanyName]) VALUES (1, CAST(N'2016-09-29 00:00:00.000' AS DateTime), 4, 1, N'5000.00', N'', N'0', N'Company2')
SET IDENTITY_INSERT [dbo].[MonthlyExpenseMaster] OFF
SET IDENTITY_INSERT [dbo].[MonthlyReport] ON 

INSERT [dbo].[MonthlyReport] ([ID], [BusName], [Collection], [DAmount], [Expenses], [BankDue], [TollFee], [WorkShopExp], [OtherExp], [TyreExp], [Audio/CoachExp]) VALUES (1, N'Bus1C1', CAST(0.00 AS Decimal(18, 2)), N'0.00      ', CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[MonthlyReport] ([ID], [BusName], [Collection], [DAmount], [Expenses], [BankDue], [TollFee], [WorkShopExp], [OtherExp], [TyreExp], [Audio/CoachExp]) VALUES (2, N'BusC1', CAST(1000.00 AS Decimal(18, 2)), N'60.00     ', CAST(600.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[MonthlyReport] ([ID], [BusName], [Collection], [DAmount], [Expenses], [BankDue], [TollFee], [WorkShopExp], [OtherExp], [TyreExp], [Audio/CoachExp]) VALUES (3, N'KPN', CAST(0.00 AS Decimal(18, 2)), N'0.00      ', CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[MonthlyReport] OFF
SET IDENTITY_INSERT [dbo].[Salary] ON 

INSERT [dbo].[Salary] ([Id], [Department], [EmployeeId], [SalaryDate], [Salary], [SalaryValidity], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate], [BusId]) VALUES (1, N'Conductor', 6, CAST(N'2016-09-29' AS Date), CAST(1000.00 AS Decimal(18, 2)), CAST(N'2016-10-29' AS Date), 1, CAST(N'2016-09-29 15:32:25.720' AS DateTime), 1, CAST(N'2016-09-29 15:32:25.720' AS DateTime), 4)
SET IDENTITY_INSERT [dbo].[Salary] OFF
SET IDENTITY_INSERT [dbo].[Supplier] ON 

INSERT [dbo].[Supplier] ([Id], [Name], [ShortName], [OpeningBalance], [Address], [Mobile], [LandLine], [IsActive], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (1, N'Sup1', N'S1', CAST(2000.00 AS Decimal(18, 2)), N'Erode', N'9874563212', N'55662233333', 1, 1, CAST(N'2016-09-29 06:56:06.657' AS DateTime), 1, CAST(N'2016-09-29 06:56:06.657' AS DateTime))
INSERT [dbo].[Supplier] ([Id], [Name], [ShortName], [OpeningBalance], [Address], [Mobile], [LandLine], [IsActive], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (2, N'Sup2', N'S1', CAST(1000.00 AS Decimal(18, 2)), N'Salem', N'9874563211', N'04255866666', 1, 1, CAST(N'2016-09-29 06:56:40.163' AS DateTime), 1, CAST(N'2016-09-29 06:56:40.163' AS DateTime))
INSERT [dbo].[Supplier] ([Id], [Name], [ShortName], [OpeningBalance], [Address], [Mobile], [LandLine], [IsActive], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (3, N'Sup3', N'S3', CAST(3000.00 AS Decimal(18, 2)), N'Kovai', N'9874566332', N'04423655445', 1, 1, CAST(N'2016-09-29 06:58:55.453' AS DateTime), 1, CAST(N'2016-09-29 06:58:55.453' AS DateTime))
SET IDENTITY_INSERT [dbo].[Supplier] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_BusMaster]    Script Date: 29/09/2016 3:48:43 PM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[BusMaster]') AND name = N'IX_BusMaster')
ALTER TABLE [dbo].[BusMaster] ADD  CONSTRAINT [IX_BusMaster] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_CollectionMaster]    Script Date: 29/09/2016 3:48:43 PM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[CollectionMaster]') AND name = N'IX_CollectionMaster')
CREATE UNIQUE NONCLUSTERED INDEX [IX_CollectionMaster] ON [dbo].[CollectionMaster]
(
	[Date] ASC,
	[BusName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_EmployeeMaster]    Script Date: 29/09/2016 3:48:43 PM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[EmployeeMaster]') AND name = N'IX_EmployeeMaster')
ALTER TABLE [dbo].[EmployeeMaster] ADD  CONSTRAINT [IX_EmployeeMaster] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ScheduleMaster]    Script Date: 29/09/2016 3:48:43 PM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[ScheduleMaster]') AND name = N'IX_ScheduleMaster')
ALTER TABLE [dbo].[ScheduleMaster] ADD  CONSTRAINT [IX_ScheduleMaster] UNIQUE NONCLUSTERED 
(
	[Type_ID] ASC,
	[BusMaster_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CashOut_Supplier]') AND parent_object_id = OBJECT_ID(N'[dbo].[CashOut]'))
ALTER TABLE [dbo].[CashOut]  WITH CHECK ADD  CONSTRAINT [FK_CashOut_Supplier] FOREIGN KEY([SupplierId])
REFERENCES [dbo].[Supplier] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CashOut_Supplier]') AND parent_object_id = OBJECT_ID(N'[dbo].[CashOut]'))
ALTER TABLE [dbo].[CashOut] CHECK CONSTRAINT [FK_CashOut_Supplier]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ExpenseMaster_Supplier]') AND parent_object_id = OBJECT_ID(N'[dbo].[ExpenseMaster]'))
ALTER TABLE [dbo].[ExpenseMaster]  WITH CHECK ADD  CONSTRAINT [FK_ExpenseMaster_Supplier] FOREIGN KEY([SupplierId])
REFERENCES [dbo].[Supplier] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ExpenseMaster_Supplier]') AND parent_object_id = OBJECT_ID(N'[dbo].[ExpenseMaster]'))
ALTER TABLE [dbo].[ExpenseMaster] CHECK CONSTRAINT [FK_ExpenseMaster_Supplier]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ExpenseTypeMaster_ExpenseTypeMaster]') AND parent_object_id = OBJECT_ID(N'[dbo].[ExpenseTypeMaster]'))
ALTER TABLE [dbo].[ExpenseTypeMaster]  WITH CHECK ADD  CONSTRAINT [FK_ExpenseTypeMaster_ExpenseTypeMaster] FOREIGN KEY([Id])
REFERENCES [dbo].[ExpenseTypeMaster] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ExpenseTypeMaster_ExpenseTypeMaster]') AND parent_object_id = OBJECT_ID(N'[dbo].[ExpenseTypeMaster]'))
ALTER TABLE [dbo].[ExpenseTypeMaster] CHECK CONSTRAINT [FK_ExpenseTypeMaster_ExpenseTypeMaster]
GO
/****** Object:  StoredProcedure [dbo].[BreakReport]    Script Date: 29/09/2016 3:48:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BreakReport]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[BreakReport] AS' 
END
GO

ALTER PROC [dbo].[BreakReport]
(
@BNAME NVARCHAR(500),
@FDate DateTime,
@TDate DateTime
)
AS
BEGIN

SELECT
dbo.BreakData.Id,
dbo.BreakData.[Date],
dbo.BreakData.[Km],
dbo.BreakData.Manufacturer,
dbo.BreakData.Amount,
dbo.BreakData.Remark,
dbo.BusMaster.Name

FROM
dbo.BreakData
INNER JOIN dbo.BusMaster ON dbo.BreakData.BusId = dbo.BusMaster.Id

WHERE
dbo.BusMaster.Name = @BNAME AND
dbo.BreakData.[Date] BETWEEN @FDate AND @TDate

ORDER BY dbo.BreakData.[Date]

END








GO
/****** Object:  StoredProcedure [dbo].[ClutchReport]    Script Date: 29/09/2016 3:48:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ClutchReport]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[ClutchReport] AS' 
END
GO

ALTER PROC [dbo].[ClutchReport]
(
@BNAME NVARCHAR(500),
@FDate DateTime,
@TDate DateTime
)
AS
BEGIN

SELECT
dbo.ClutchData.Id,
dbo.ClutchData.[Date],
dbo.ClutchData.Km,
dbo.ClutchData.Manufacturer,
dbo.ClutchData.Amount,
dbo.ClutchData.Remark,
dbo.BusMaster.Name
FROM
dbo.ClutchData
INNER JOIN dbo.BusMaster ON dbo.ClutchData.BusId = dbo.BusMaster.Id
WHERE
dbo.BusMaster.Name = @BNAME AND
dbo.ClutchData.[Date] BETWEEN @FDate AND @TDate
ORDER BY dbo.ClutchData.[Date]


END








GO
/****** Object:  StoredProcedure [dbo].[Get_SUpplierWiseReport]    Script Date: 29/09/2016 3:48:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Get_SUpplierWiseReport]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[Get_SUpplierWiseReport] AS' 
END
GO
ALTER Procedure [dbo].[Get_SUpplierWiseReport]
@SupplierId as Bigint,
@FromDate as DateTime,
@ToDate as DateTime
AS
Begin
Select Id,Supplier as Particular,CONVERT(nvarchar(20),@FromDate,105) as FromDate,CONVERT(nvarchar(20),@ToDate,105) as ToDate,CONVERT(nvarchar(20),Date,105) as Date,Credit,Debit from (select E.Id,CONCAT('Supplier - ',S.Name,'/ Expense -', ET.ExpenseType) as Supplier,E.Date,E.TotalAmount as Credit,'0.00' as Debit,E.CreatedDate from [dbo].[ExpenseMaster] E WITH (NOLOCK)
Inner join ExpenseTypeMaster ET WITH (NOLOCK) ON ET.Id=E.ExpenseTypeId
Inner Join Supplier S WITH (NOLOCK) ON S.Id=E.SupplierId  AND S.Id=CASE WHEN @SupplierId  = 0 THEN S.Id ELSE  @SupplierId END 
Where 
Convert(Date,E.Date) Between Convert(Date,@FromDate) AND CONVERT(Date,@ToDate)
UNION ALL
select E.Id,S.Name as Supplier,E.Date,'0.00' as Credit,(E.Cash+E.Cheque+E.DemandDraft+E.Transfer) as Debit,E.CreatedDate from [dbo].[ExpenseMaster] E WITH (NOLOCK)
Inner join ExpenseTypeMaster ET WITH (NOLOCK) ON ET.Id=E.ExpenseTypeId
Inner Join Supplier S WITH (NOLOCK) ON S.Id=E.SupplierId AND S.Id=CASE WHEN @SupplierId  = 0 THEN S.Id ELSE  @SupplierId END
Where 
Convert(Date,E.Date) Between Convert(Date,@FromDate) AND CONVERT(Date,@ToDate)
UNION ALL
Select CO.Id,S.Name as Supplier,CO.Date,'0.00' as Credit,CO.TotalAmount as Debit,CO.CreatedDate from CashOut CO WITH (NOLOCK) 
Inner Join Supplier S WITH (NOLOCK) ON S.Id=CO.SupplierId AND S.Id=CASE WHEN @SupplierId  = 0 THEN S.Id ELSE  @SupplierId END
Where 
Convert(Date,CO.Date) Between Convert(Date,@FromDate) AND CONVERT(Date,@ToDate)
) a
Order By CreatedDate
ENd








GO
/****** Object:  StoredProcedure [dbo].[OilReport]    Script Date: 29/09/2016 3:48:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[OilReport]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[OilReport] AS' 
END
GO

ALTER PROC [dbo].[OilReport]
(
@BNAME NVARCHAR(500),
@FDate DateTime,
@TDate DateTime
)
AS
BEGIN

SELECT
dbo.OilService.Id,
dbo.OilService.[Date],
[dbo].[OilService].km,
dbo.OilService.TypeofOil,
dbo.OilService.Manufacturer,
dbo.OilService.OilLiters,
dbo.OilService.Amount,
[dbo].[OilService].AlertKm,
dbo.OilService.Remark,
dbo.BusMaster.Name
FROM
dbo.OilService
INNER JOIN dbo.BusMaster ON dbo.OilService.BusId = dbo.BusMaster.Id
WHERE  dbo.BusMaster.Name =@BNAME AND dbo.OilService.[Date] BETWEEN @FDate AND @TDate

ORDER BY dbo.OilService.[Date]

END








GO
/****** Object:  StoredProcedure [dbo].[OilReportNew]    Script Date: 29/09/2016 3:48:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[OilReportNew]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[OilReportNew] AS' 
END
GO

ALTER PROC [dbo].[OilReportNew]
(
@BNAME NVARCHAR(500),
@FDate DateTime,
@TDate DateTime
)
AS
BEGIN

SELECT

OS.Date,
OS.Km,
os.Manufacturer,
OS.Amount,
OS.OilLiters,
OS.TypeofOil,
OS.AlertKm,
OS.Remark,
B.Name

FROM [dbo].[OilService] AS OS
INNER JOIN dbo.BusMaster AS B WITH(NOLOCK)  ON OS.BusId = B.Id
WHERE B.Name = @BNAME AND OS.Date BETWEEN @FDate AND @TDate
ORDER BY OS.Date

END








GO
/****** Object:  StoredProcedure [dbo].[OilServiceAlert]    Script Date: 29/09/2016 3:48:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[OilServiceAlert]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[OilServiceAlert] AS' 
END
GO
ALTER PROCEDURE [dbo].[OilServiceAlert]
@BusId int,
@TypeOfOil nvarchar(100)
AS
BEGIN
DECLARE @AlertKM float
DECLARE @FilledDate DateTime
select TOP 1 @AlertKM =AlertKM from OilService where TypeofOil=@TypeOfOil and BusId=@BusId Order by Date Desc
select TOP 1 @FilledDate =Date from OilService where TypeofOil=@TypeOfOil and BusId=@BusId Order by Date Desc


select BM.Name as BusName,
		ISNULL(sum(cast(CM.EndKm AS float)-cast(CM.StartKm AS float)),0) as RunKM,
		ISNULL(@AlertKM,0) as SetAlertKM,
       CASE WHEN  sum(cast(CM.EndKm AS float)-cast(CM.StartKm AS float))>@AlertKM THEN '1' ELSE '0' END  as IsSentSMS from CollectionMaster CM
Inner Join [dbo].[BusMaster] BM ON CM.BusName  = BM.Name
Inner Join OilService OS ON BM.Id = OS.BusId
Where CM.Date > @FilledDate and BusId=@BusId
Group by BM.Name
END




GO
/****** Object:  StoredProcedure [dbo].[procCashOutReport]    Script Date: 29/09/2016 3:48:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[procCashOutReport]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[procCashOutReport] AS' 
END
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[procCashOutReport]
    @supplierId bigint,
	@FromDate DATETIME,
	@ToDate DATETIME
AS
BEGIN
	select CO.Id,CO.Date,CONVERT(nvarchar(20),@FromDate,105) as FromDate,CONVERT(nvarchar(20),@ToDate,105) as ToDate,S.Name,CO.TotalAmount As Credit,Co.Cash as Debit From CashOut CO
inner join supplier s on S.Id= CO.SupplierId
END



GO
/****** Object:  StoredProcedure [dbo].[procGetDriverReport]    Script Date: 29/09/2016 3:48:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[procGetDriverReport]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[procGetDriverReport] AS' 
END
GO

ALTER PROCEDURE [dbo].[procGetDriverReport]
@DriverName Nvarchar(100),
@FromDate  Nvarchar(12),
@ToDate  Nvarchar(12)
AS
BEGIN
SELECT Driver1, Date,Startkm,endkm,Busname,Dlit,Sparse,DAmount,Collection, @FromDate AS FromDate,@Todate AS Todate from CollectionMaster WITH(NOLOCK) Where Driver1=@DriverName AND Date Between @FromDate and @ToDate
END




GO
/****** Object:  StoredProcedure [dbo].[procGetExpenseTypeReport]    Script Date: 29/09/2016 3:48:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[procGetExpenseTypeReport]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[procGetExpenseTypeReport] AS' 
END
GO
ALTER PROCEDURE [dbo].[procGetExpenseTypeReport] 
@CompanyName bigint,
@Bus bigint,
@ExpenseType bigint,
@FromDate Datetime,
@ToDate Datetime
AS
BEGIN
Select Convert(nvarchar,@FromDate,105) AS FromDate,Convert(nvarchar,@ToDate,105) AS ToDate,Convert(nvarchar,EM.Date,105) AS Date,C.CompanyName As CompanyName,BM.Name AS BusName,ETM.ExpenseType,EM.TotalAmount AS Amount From ExpenseMaster EM
INNER JOIN BusMaster BM WITH(NOLOCK) ON BM.Id = EM.BusId
INNER JOIN ExpenseTypeMaster ETM WITH(NOLOCK) ON ETM.Id = EM.ExpenseTypeId 
inner join CompanyName C on EM.CompanynameId = C.Id
Where EM.CompanynameId =CASE WHEN @CompanyName =0 THEN EM.CompanynameId ELSE @CompanyName END And
EM.BusId=CASE WHEN @Bus =0 THEN EM.BusId ELSE @Bus END
And EM.ExpenseTypeId = CASE WHEN @ExpenseType  = 0 THEN EM.ExpenseTypeId ELSE  @ExpenseType END
And Convert(Date,EM.Date) Between Convert(Date,@FromDate) AND CONVERT(Date,@ToDate)
Order By EM.Date,EM.CreatedDate
END


GO
/****** Object:  StoredProcedure [dbo].[procGetProfitReport]    Script Date: 29/09/2016 3:48:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[procGetProfitReport]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[procGetProfitReport] AS' 
END
GO


  ALTER PROCEDURE [dbo].[procGetProfitReport]
  @BusId bigint,
  @FromDate Datetime,
  @ToDate Datetime
  AS
  Begin
     Select Id, Convert(nvarchar,@FromDate,105) AS FromDate,Convert(nvarchar,@ToDate,105) AS ToDate,Particular,Date,CashIn,CashOut,CreatedDate from( select BM.Id AS Id, CONCAT(BM.Name,' - Collection ') as Particular,
	  Convert(nvarchar,CM.Date,105) as Date,CM.netTotal AS CashIn,'0.00' as CashOut,Convert(nvarchar,CM.Date,105) AS CreatedDate From [CollectionMaster] CM
	  INNER JOIN BusMaster BM WITH(NOLOCK) ON BM.Id=@BusId And BM.Name=CM.BusName
	  where  BM.Id=CASE WHEN @BusId  = 0 THEN BM.Id ELSE  @BusId END And 
	  Date Between @FromDate and @ToDate
      union all
       Select BM.Id AS Id,CONCAT(BM.Name,' - Day Expense') as Particular,Convert(nvarchar,CM.Date,105) as Date,'0.00' as CashIn,
	  (cast(CM.Cleaner as float) + cast(CM.DAmount as float)+cast(CM.stand as float) + cast(CM.Gtc as float)
       + cast(CM.pooja as float) + cast(CM.extra as float)+cast(CM.Greese as float) + cast(CM.Sparse as float)
       + cast(CM.DWages as float) + cast(CM.DBata as float)+ cast(CM.CWages as float) + S.Salary 
       + cast(DBata as float)) AS CashOut,Convert(nvarchar,CM.Date,105) AS CreatedDate From [CollectionMaster] CM
	    INNER JOIN BusMaster BM WITH(NOLOCK) ON BM.Id=@BusId And BM.Name=CM.BusName
        INNER JOIN Salary S WITH(NOLOCK) ON S.BusId = BM.Id
	  where BM.Id=CASE WHEN @BusId  = 0 THEN BM.Id ELSE  @BusId END And 
	  Date Between @FromDate and @ToDate 
      union all
      Select BM.Id AS Id,CONCAT(BM.Name,' - Expense - ',ETM.ExpenseType) As Particular, Convert(nvarchar,EM.Date,105) as Date,
	  '0.00' as CashIn,EM.TotalAmount AS CashOut,Convert(nvarchar,EM.CreatedDate,105) AS CreatedDate From [ExpenseMaster] EM 
      INNER JOIN [ExpenseTypeMaster] ETM WITH(NOLOCK) ON ETM.Id=EM.ExpenseTypeId
	  INNER JOIN [BusMaster] BM WITH(NOLOCK) ON BM.Id=EM.BusId 
      where  EM.BusId=CASE WHEN @BusId  = 0 THEN EM.BusId ELSE @BusId END And 
	  Date Between @FromDate and @ToDate) profit 
	  Order by CreatedDate,Date 
End


GO
/****** Object:  StoredProcedure [dbo].[procSalary]    Script Date: 29/09/2016 3:48:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[procSalary]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[procSalary] AS' 
END
GO

ALTER PROCEDURE [dbo].[procSalary]
	(
	@Employee bigint,
@StartDate DATETIME,
@EndDate DATETIME
)
AS
BEGIN
	SELECT S.Id,CONVERT(nvarchar(20),@StartDate,105) as FromDate,CONVERT(nvarchar(20),@EndDate,105) as ToDate,
	EM.Name,S.Department,S.SalaryDate,S.Salary FROM Salary S 
	INNER JOIN EmployeeMaster EM ON EM.Id=S.EmployeeId 
	Where S.EmployeeId = CASE WHEN @Employee =0 THEN S.EmployeeId ELSE @Employee END
	AND convert(Date,S.SalaryDate) Between convert(Date,@StartDate) AND convert(Date,@EndDate)
	order by S.SalaryDate
END



GO
/****** Object:  StoredProcedure [dbo].[procSupplierWiseReport]    Script Date: 29/09/2016 3:48:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[procSupplierWiseReport]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[procSupplierWiseReport] AS' 
END
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[procSupplierWiseReport]
    @supplierId bigint,
	@FromDate DATETIME,
	@ToDate DATETIME
AS
BEGIN
	select CO.Id,CO.Date,S.Name,CONVERT(nvarchar(20),@FromDate,105) as FromDate,CONVERT(nvarchar(20),@ToDate,105) as ToDate,CO.TotalAmount As Credit,EM.TotalAmount AS Debit From CashOut CO
inner join Supplier S on S.Id= CO.SupplierId
inner join ExpenseMaster EM On S.Id = EM.SupplierId
END



GO
/****** Object:  StoredProcedure [dbo].[TyreReport]    Script Date: 29/09/2016 3:48:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TyreReport]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[TyreReport] AS' 
END
GO

ALTER PROC [dbo].[TyreReport]
(
@BNAME NVARCHAR(500),
@FDate DateTime,
@TDate DateTime
)
AS
BEGIN

SELECT W.Id,B.Name,W.Km,W.Date,W.Tyresno,W.Manu,W.Amount,W.TyreNo,W.Condition,W.Remark FROM TyerData W Left Outer Join BusMaster B ON W.BusId=B.Id WHERE W.Date between @FDate AND @TDate  AND B.Name= @BNAME ORDER BY W.Date;



END







GO
/****** Object:  StoredProcedure [dbo].[up_GetMonthlyReport]    Script Date: 29/09/2016 3:48:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[up_GetMonthlyReport]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[up_GetMonthlyReport] AS' 
END
GO


ALTER PROC [dbo].[up_GetMonthlyReport] 
(
@StartDate DATETIME,
@EndDate DATETIME
)
AS
BEGIN

SELECT BusName, SUM(Bank_Due)Bank_Due,SUM(Toll_Fee)Toll_Fee,SUM(Workshop_Exp)Workshop_Exp,SUM(Other_Exp)Other_Exp,SUM(Tyre_Exp)Tyre_Exp,SUM(Audio_Coach_Exp)Audio_Coach_Exp INTO #MEM
 FROM 
	(SELECT M.BusName
	,ISNULL(CASE WHEN M.ExpenseType = '1' THEN SUM(CAST(M.Amount AS DECIMAL(18,2))) END ,0.00) AS Bank_Due
	,ISNULL(CASE WHEN M.ExpenseType = '2' THEN SUM(CAST(M.Amount AS DECIMAL(18,2))) END ,0.00) AS Toll_Fee
	,ISNULL(CASE WHEN M.ExpenseType = '3' THEN SUM(CAST(M.Amount AS DECIMAL(18,2))) END ,0.00) AS Workshop_Exp
	,ISNULL(CASE WHEN M.ExpenseType = '4' THEN SUM(CAST(M.Amount AS DECIMAL(18,2))) END ,0.00) AS Other_Exp
	,ISNULL(CASE WHEN M.ExpenseType = '5' THEN SUM(CAST(M.Amount AS DECIMAL(18,2))) END ,0.00) AS Tyre_Exp
	,ISNULL(CASE WHEN M.ExpenseType = '6' THEN SUM(CAST(M.Amount AS DECIMAL(18,2))) END ,0.00) AS Audio_Coach_Exp
	FROM MonthlyExpenseMaster M 
	where Date between @StartDate and @EndDate GROUP BY ExpenseType,BusName 
	) AS T group by T.BusName
TRUNCATE TABLE MonthlyReport
INSERT INTO MonthlyReport
SELECT DISTINCT BM.Name
	,ISNULL(SUM(CAST(CM.Collection AS DECIMAL(18,2))),0.00) AS Collection
	,ISNULL(SUM(CAST(CM.DAmount AS DECIMAL(18,2))),0.00) AS DAmount
	,ISNULL(SUM(CAST(CM.Expenses AS DECIMAL(18,2))),0.00) AS Expenses
	,ISNULL(MEM.Bank_Due,0.00) AS Bank_Due
	,ISNULL(MEM.Toll_Fee,0.00)  AS Toll_Fee
	,ISNULL(MEM.Workshop_Exp ,0.00) AS Workshop_Exp 
	,ISNULL(MEM.Other_Exp,0.00) AS Other_Exp
	,ISNULL(MEM.Tyre_Exp,0.00) AS Tyre_Exp
	,ISNULL(MEM.Audio_Coach_Exp,0.00) AS Audio_Coach_Exp
  FROM BusMaster BM LEFT JOIN 
 CollectionMaster CM ON CM.BusName = BM.Name
 AND Date between @StartDate and @EndDate LEFT JOIN #MEM MEM ON MEM.BusName = BM.ID
 GROUP BY BM.Name,MEM.Bank_Due
	,MEM.Toll_Fee
	,MEM.Workshop_Exp 
	,MEM.Other_Exp
	,MEM.Tyre_Exp
	,MEM.Audio_Coach_Exp

 DROP TABLE #MEM

END


GO
